<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <script src="./login.js"></script>
    <link rel="stylesheet" href="./login.css" />
</head>

<body>
    <div class="loginDiv">
        <t1> LOGIN </t1>
        <div class="inputDiv">
            <i class="fa-solid fa-fw fa-user"></i>
            <input type="text" id="usernameBox" placeholder="使用者名稱" id="usernameBox" />
        </div>
        <div class="inputDiv">
            <i class="fa-solid fa-fw fa-lock"></i>
            <input type="password" id="pwdBox" placeholder="密碼 (8~20位英數字)" id="passwordBox" />
        </div>
        <input type="button" id="btnLogin" value="登入" />
        <div class="divBottomBtns">
            <input type="button" id="btnForgetPWD" value="忘記密碼" />
            <input type="button" id="btnRegister" value="還沒有會員嗎？立即加入" />
        </div>
    </div>
    </div>
</body>

</html>