@font-face {
    font-family: 'jf-openhuninn';
    src: url('./src/jf-openhuninn-1.1.ttf');
}

:root {
    --outerDiv-width: 65vmin;
    --outerDiv-height: 75vmin;
    --primary-color: rgb(27, 92, 136);
    --darker-primary-color: rgb(22, 72, 105);
    font-size: 1vmin;
}

t1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primary-color);
    font-size: 5rem;
    line-height: 7.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

body {
    background-image: url('./src/blob-scene-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginDiv {
    width: var(--outerDiv-width);
    height: var(--outerDiv-height);
    border-radius: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    position: relative;
    box-shadow: 0 0 var(--primary-color) 0.5rem;
}

.inputDiv {
    width: 80%;
    height: 5rem;
    border: 1px solid #989898;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
}

input {
    width: 85%;
    outline: none;
    font-family: 'jf-openhuninn', FontAwesome;
    font-size: 2.5rem;
    color: #444444;
    border: none;
    margin-left: -1rem;
}

input::placeholder {
    color: #444444;
}

i {
    padding: 2rem;
    font-size: 2.5rem;
}

input[type="button"] {
    border-radius: 2rem;
    padding: 1rem;
}

#btnRegister {
    margin-top: 1.5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}

#btnRegister:hover {
    background-color: var(--darker-primary-color);
    color: white;
}

#btnLogin {
    cursor: pointer;
    margin-bottom: 1.5rem;
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

#btnLogin:hover {
    color: var(--darker-primary-color);
}

/* 更改 toastr 的外觀 */
#toast-container {
    font-family: 'jf-openhuninn';
    font-size: 2.5rem;
}

#toast-container>.toast-error {
    box-shadow: none;
}

/* 更改 sweetaert 的外觀 */
.swal2-popup {
    font-family: 'jf-openhuninn';
    font-size: 2.5rem !important;
}